# Python cache & virtual environment
__pycache__/
*.pyc
venv/

# Environment variables
.env*

# VSCode specific
.vscode/

# Data files
# Ignore all data by default...
data/

!data/raw/

# Backup files
*.bak

# Other
backups/
